@using bacit_dotnet.MVC.Models.Users

@{
    ViewData["Title"] = "bacit_dotnet.MVC";

}
@model UserViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NøstedWeb</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/bacit_dotnet.MVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <div class="w-full fixed top-0 left-64 flex items-center p-5 ml-20">
            <div class="absolute top-0 right-1/3 mt-5">
                <button onClick='redirectOnClick()' class="flex items-center text-gray-400 p-4 bg-gray-800 rounded-full hover:bg-yellow-500 hover:text-white text-lg transition duration-300 ease-in-out">
                    Opprett ny ansatt
                    <i class="fas fa-plus ml-3"></i>
                </button>

            </div>
        </div>
        <div class="text-center flex-items-center max-w-4xl mx-auto mt-20">

            <h3 class="text-4xl font-bold text-gray-900 dark:text-white ml-32">Administrer brukere</h3>

            <div class="justify-center table-fixed mt-5 max-w-5xl mx-auto">
                <table class="min-w-full table-auto ml-20">

                    <thead>
                    <th class="px-4 py-2 bg-gradient-to-t from-gray-600 to-gray-800 text-gray-100">Navn</th>
                    <th class="px-4 py-2 bg-gradient-to-t from-gray-600 to-gray-800 text-gray-100">Epost</th>
                    <th class="px-4 py-2 bg-gradient-to-t from-gray-600 to-gray-800 text-gray-100">Slett</th>
                    <th class="px-4 py-2 bg-gradient-to-t from-gray-600 to-gray-800 text-gray-100">Endre</th>
                    </thead>

            @foreach (var user in Model.Users)
            {
                <tr class="mt-5">
                    <td class="text-center border p-2">@user.Name</td>
                    <td class="text-center border p-2">@user.Email</td>
                    <td>
                                @using (Html.BeginForm("delete", "users"))
                                {
                                    @Html.AntiForgeryToken()
                        <form asp-action="delete" asp-controller="users" method="post" class="text-center border p-2">
                            <input type="hidden" name="Email" value="@user.Email"/>
                             <button class="bg-red-200 rounded-md text-black p-2" type="submit" value="Slett">Slett</button>
                        </form>
                                }
                    </td>
                    <td>
                                @using (Html.BeginForm("index", "users"))
                                        {
                                            @Html.AntiForgeryToken()
                        <form asp-action="index" asp-controller="users" method="get" class="text-center border p-2">
                            <input type="hidden" name="Email" value="@user.Email"/>
                            <button class="bg-yellow-200 rounded-md text-black p-2" type="submit" value="Endre">Endre</button>
                        </form>
                                        }
                    </td>
                </tr>
            }
        </table>
        @if (Model.ShowEditForm)
        {
            <div class="ml-32">
            <h3 class="text-3xl font-bold leading-tight tracking-tight text-gray-900 dark:text-white mt-10">Endre brukerinfo</h3>
                        @using (Html.BeginForm("save", "users"))
                        {
                            @Html.AntiForgeryToken()
                <form asp-action="save" asp-controller="users" method="post" class=form asp-action="save" asp-controller="users" method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full max-w-xs mx-auto">
                    <ul>
                        <li>
                            <label for="Name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white mt-5">Navn</label>
                            <input type="text" name="Name" value="@Model.Name" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Ola Nordmann"/>

                    @foreach (var user in Model.Users)
                    {
                        <tr class="mt-5">
                            <td class="text-center border p-2">@user.Name</td>
                            <td class="text-center border p-2">@user.Email</td>
                            <td>
                                <form asp-action="delete" asp-controller="users" method="post" class="text-center border p-2">
                                    <input type="hidden" name="Email" value="@user.Email" />
                                    <button class="bg-red-200 rounded-md text-black p-2" type="submit" value="Slett">Slett</button>
                                </form>
                            </td>
                            <td>
                                <form asp-action="index" asp-controller="users" method="get" class="text-center border p-2">
                                    <input type="hidden" name="Email" value="@user.Email" />
                                    <button class="bg-yellow-200 rounded-md text-black p-2" type="submit" value="Endre">Endre</button>
                                </form>
                            </td>
                        </tr>
                    }
                </table>
                @if (Model.ShowEditForm)
                {
                    <div class="ml-32">
                        <h3 class="text-3xl font-bold leading-tight tracking-tight text-gray-900 dark:text-white mt-10">Endre brukerinfo</h3>
                        <form asp-action="save" asp-controller="users" method="post" class=form asp-action="save" asp-controller="users" method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full max-w-xs mx-auto">
                            <ul>
                                <li>
                                    <label for="Name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white mt-5">Navn</label>
                                    <input type="text" name="Name" value="@Model.Name" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Ola Nordmann" />

                                </li>
                        <li>
                            <label for="Email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                            <input type="email" name="Email" value="@Model.Email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mb-5" placeholder="nøstedansatt@gmail.com"/>
                        </li>
                        <li>
                            <label for="Role">Sett som administrator</label>
                            <input asp-for="@Model.IsAdmin"/>
                        </li>
                        <li>
                            <input type="submit" value="Lagre" class="w-full text-gray-500 bg-gray-800 hover:text-yellow-500 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 mt-5"/>
                        </li>
                    </ul>
                </form>
                }
                </div>
        }
    </div>
</div>

                                <li>
                                    <label for="Email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                                    <input type="email" name="Email" value="@Model.Email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mb-5" placeholder="nøstedansatt@gmail.com" />
                                </li>
                                <li>
                                    <label for="Role">Sett som administrator</label>
                                    <input asp-for="@Model.IsAdmin" />
                                </li>
                                <li>
                                    <input type="submit" value="Lagre" class="w-full text-gray-500 bg-gray-800 hover:text-yellow-500 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 mt-5" />
                                </li>
                            </ul>
                        </form>
                    </div>
                }
            </div>
        </div>

        <script>
            function redirectOnClick() {
                document.location = '/Account/Register';
            }

        </script>

    </header>
</body>
</html>