@{
    ViewData["Title"] = "bacit_dotnet.MVC";
    var statusList = ViewBag.StatusList as List<SelectListItem>;

}
@model bacit_dotnet.MVC.Models.ServiceOrder


<div class="w-1/2">

    <!-- Service order/skjema -->
    <div class="p-6 bg-white border rounded-lg w-80">
        <div class="flex justify-between items-center mb-4">
            <h2 class="text-xl font-bold">KundeInformasjon</h2>
            <button asp-controller="KundeInformasjon" asp-action="KundeInformasjon" class="bg-gray-800 text-gray-500 hover:text-yellow-500 font-bold py-2 px-4 rounded-full">Rediger</button>
        </div>
    </div>

    <!-- Sjekkliste for service på vinsj -->
    <div class="p-6 bg-white border rounded-lg w-80">
        <div class="flex justify-between items-center mb-4">
            <h2 class="text-xl font-bold">Sjekkliste for vinsj</h2>
            <button asp-controller="Sjekkliste" asp-action="Sjekkliste" class="bg-gray-800 text-gray-500 hover:text-yellow-500 font-bold py-2 px-4 rounded-full">Rediger</button>
        </div>
    </div>

</div>

<div>
    <div class="absolute inset-x-20 top-5 h-16 left-1/2">
        <div>
            <h1>
                ServiceOrdre 2/4
            </h1>
        </div>
        <br>
        <div>
            @*@using (Html.BeginForm("Save", "ServiceOrder", FormMethod.Post))*@

            @Html.AntiForgeryToken()
            <form asp-action="Edit" asp-controller="ServiceOrder" method="post">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <input type="hidden" asp-for="ServiceOrderID" />
                <div class="grid gap-6 mb-6 md:grid-cols-2">
                    <div>
                        <label asp-for="CreatedBy" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Opprettet av</label>
                        <input asp-for="CreatedBy" type="text" id="CreatedBy" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Simon Helgen" required>
                        <span asp-validation-for="CreatedBy" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="DateReceived" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Mottatt dato</label>
                        <input asp-for="DateReceived" type="date" id="DateReceived" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="01/01/2000" required>
                        <span asp-validation-for="DateReceived" class="text-danger"></span>
                    </div>
                    @* <div>
                    <label asp-for="Status" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Status</label>
                    <select asp-for="Status" asp-items="@(new SelectList(ViewBag.StatusList, "Value", "Text"))" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                    <option value="">Velg status</option>
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                    </div>*@
                    <div>
                        <select asp-for="Status" asp-items="@(ViewBag.StatusList != null ? new SelectList(ViewBag.StatusList, "Value", "Text") : new SelectList(new List<SelectListItem>(), "Value", "Text"))" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option value="">Velg rolle</option>
                        </select>
                    </div>
                    <div>
                        <label asp-for="Subject" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Emne</label>
                        <input asp-for="Subject" type="text" id="Subject" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Emne" required>
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="ModelYear" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Årsmodell</label>
                        <input asp-for="ModelYear" type="number" min="1939" max="3000" id="ModelYear" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="1997" required>
                        <span asp-validation-for="ModelYear" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="ProductType" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">ProduktType</label>
                        <input asp-for="ProductType" type="text" id="ProductType" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="ProduktType" required>
                        <span asp-validation-for="ProductType" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="SerialNumber" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">SerieNummer</label>
                        <input asp-for="SerialNumber" type="text" id="SerialNumber" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="X1234567" required>
                        <span asp-validation-for="SerialNumber" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="ServiceType" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">TjenesteType</label>
                        <input asp-for="ServiceType" type="text" id="ServiceType" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Service/Reperasjon/Garanti" required>
                        <span asp-validation-for="ServiceType" class="text-danger"></span>
                    </div>
                </div>
                <div class="grid gap-6 mb-6 md:grid-cols-1">
                    <div>
                        <label asp-for="WhatIsAgreedWithCustomer" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Hva er avtalt med kunde</label>
                        <textarea asp-for="WhatIsAgreedWithCustomer" rows="5" cols="50" id="WhatIsAgreedWithCustomer" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Hva har du avtalt med kunden?" required> </textarea>
                        <span asp-validation-for="WhatIsAgreedWithCustomer" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="RepairDescription" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Reparasjonsbeskrivelse</label>
                        <textarea asp-for="RepairDescription" rows="5" cols="50" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Reparasjonsbeskrivelse" required> </textarea>
                        <span asp-validation-for="RepairDescription" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="IncludedParts" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Inkluderte deler</label>
                        <textarea asp-for="IncludedParts" rows="5" cols="50" id="IncludedParts" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Inkluderte deler" required> </textarea>
                        <span asp-validation-for="IncludedParts" class="text-danger"></span>
                    </div>
                </div>
                <div class="grid gap-6 mb-6 md:grid-cols-2">
                    <div>
                        <label asp-for="WorkingHours" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Arbeidstimer</label>
                        <input asp-for="WorkingHours" type="number" id="WorkingHours" min="0" max="20000" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="20" required>
                        <span asp-validation-for="WorkingHours" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="DateCompleted" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Dato fullført</label>
                        <input asp-for="DateCompleted" type="date" id="DateCompleted" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="01/01/2023" required>
                        <span asp-validation-for="DateCompleted" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="ReplacedPartsReturned" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Byttede deler returnert</label>
                        <input asp-for="ReplacedPartsReturned" type="text" id="ReplacedPartsReturned" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Byttede deler returnert" required>
                        <span asp-validation-for="ReplacedPartsReturned" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="ShippingMethod" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Forsendelsesmetode</label>
                        <input asp-for="ShippingMethod" type="text" id="ShippingMethod" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Forsendelsesmetode" required>
                        <span asp-validation-for="ShippingMethod" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="BookedServiceToWeek" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Booket service til uke</label>
                        <input asp-for="BookedServiceToWeek" type="text" id="BookedServiceToWeek" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Booket service til uke" required>
                        <span asp-validation-for="BookedServiceToWeek" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="AgreedDeliveryDateWithCustomer" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Avtalt leveranse til kunde</label>
                        <input asp-for="AgreedDeliveryDateWithCustomer" type="date" id="AgreedDeliveryDateWithCustomer" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Avtalt leveranse til kunde" required>
                        <span asp-validation-for="AgreedDeliveryDateWithCustomer" class="text-danger"></span>
                    </div>




                </div>

                <input name="_RequestVerificationToken" type="hidden"
                       value="6fGBtLZmVBZ59oUad1Fr33uPxANKY9q3Srr5y[...]" />
                <div class="grid mb-6 md:grid-cols-2">
                    <div class="inline-flex gap-6">

                        <button asp-controller="Home" asp-action="Index" class="bg-gray-800 text-gray-500 hover:text-yellow-500 font-bold py-2 px-4 rounded">
                            Tilbake
                        </button>
                        <button asp-controller="Sjekkliste" asp-action="Edit" asp-route-CustomerID="@Model.CustomerID" class="bg-gray-800 text-gray-500 hover:text-yellow-500 font-bold py-2 px-4 rounded">
                            Neste
                        </button>
                    </div>
                    <div>
                        <input type="submit" value="Edit" class="bg-gray-800 text-gray-500 hover:text-yellow-500 font-bold py-2 px-4 rounded" />

                    </div>
                </div>
            </form>
            <form asp-action="RedirectToChecklist" asp-controller="ServiceOrder">
                <input type="hidden" name="CustomerID" value="@Model.CustomerID" />
                <input type="submit" value="Next" />
            </form>



        </div>
    </div>
</div>
